{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": ["react", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": "off",
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended", 
    "prettier"
  ]
}
